body {
  background-color: #d4d4d4;
}

header {
  height: 386px;
  width: 100%;
  background-color: #1a1a1a;
  text-align: center;
  font-size: 72px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
}
header h3 {
  color: tomato;
  opacity: 0.7;
}
header a {
  color: tomato;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.7;
}
header a:hover {
  color: tomato;
  opacity: 1;
}

.navbar {
  margin-bottom: 30px;
  background-color: #242428 !important;
  padding: 0px 15px;
}
.navbar .navbar-nav .nav-item {
  padding: 10px 15px;
}
.navbar .navbar-nav .nav-item:hover, .navbar .navbar-nav .nav-item.active {
  background-color: #1b1b1e;
}
.navbar .navbar-nav .nav-item .nav-link {
  color: white;
  opacity: 0.7;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: white;
  opacity: 1;
}
.navbar .navbar-nav .nav-item .nav-link.active {
  font-weight: bold;
  opacity: 1;
}

.card {
  border: none;
  color: #ffffff;
}
.card .card-header {
  background-color: #1b1b1e;
  border-radius: 0px;
}
.card .card-body {
  background-color: #242428;
}
.card .card-body select {
  background-color: #1b1b1e;
  border: none;
  color: white;
}
.card .card-body select:focus {
  outline: none;
  box-shadow: none;
}